
@import './table.css';
@import './button.css';
@import './inputs.css';

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgba(155, 71, 163, 0.76);
}

ul {
  margin-top: 0;
}

#contentFormResult {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  transition: all 400ms ease-in-out 50ms;
}

#contentTable {
  transition: all 400ms ease-in-out 50ms;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 2rem 1rem;
}

#form {
  display: flex;
  flex-flow: column wrap;
  align-items: start;
}

.full-width {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.first-row {
  display: flex;
  flex-flow: row nowrap;
}

.form-wrapper .first-row-cell {
  flex-basis: 50%;
}

.form-wrapper > .second-row {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.input-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
}

.input-wrapper__input {
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.input-wrapper__input > div {
  display: flex;
  align-items: center;
}

.button-wrapper {
  flex-basis: 100%;
  padding: 3px 5px;
  display: flex;
  justify-content: center;
}

.title {
  display: block;
  flex-basis: 30%;
}

.menu-wrapper {
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1rem 1rem;
}

.menu-wrapper > button {
  border: 0px;
  width: 7rem;
  height: 2rem;
  box-shadow: 1px 1px 1px rgb(20, 39, 58);
  margin: 3px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.first-tab {
  max-width: 60rem;
  width: 75%;
}

.result-wrapper {
  flex-basis: 100%;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 15px;
  box-shadow: 0px 0px 5000px 1px rgba(32, 120, 178, 0.678);
  border-radius: 4px;
  overflow: hidden;
}

h3 {
  margin: 0;
}

.result-wrapper > h3 {
  text-align: right;
}

.second-tab .form-wrapper > .first-row {
  flex-basis: 100%;
  margin-bottom: 15px;
}

.second-tab .form-wrapper > .second-row {
  flex-basis: 100%;
}

.second-tab .form-wrapper > .first-row .input-wrapper__input {
  width: 100%;
  margin-top: 10px;
}

.second-tab .form-wrapper > .first-row .input-wrapper__input input {
  margin-top: 5px;
}

.second-tab .form-wrapper .input-wrapper {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.presets-wrapper {
  display: flex;
  flex-flow: column wrap;
}